<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- 앱 버전 정보 -->
    <key>CFBundleVersion</key>
    <string>1</string> <!-- 빌드 번호 -->

    <key>CFBundleShortVersionString</key>
    <string>1.0</string> <!-- 사용자에게 표시되는 앱 버전 -->

    <!-- Kakao SDK의 네이티브 앱 키 -->
    <key>KAKAO_NATIVE_APP_KEY</key>
    <string>051711b84a3fedf77ef33eea7934dd9b</string>
    
    <!-- URL Scheme 설정 -->
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>kakao051711b84a3fedf77ef33eea7934dd9b</string>
            </array>
        </dict>
    </array>

    <!-- 앱 화면 구성 설정 -->
    <key>UIApplicationSceneManifest</key>
    <dict>
        <key>UIApplicationSupportsMultipleScenes</key>
        <false/>
        <key>UISceneConfigurations</key>
        <dict>
            <key>UIWindowSceneSessionRoleApplication</key>
            <array>
                <dict>
                    <key>UISceneConfigurationName</key>
                    <string>Default Configuration</string>
                    <key>UISceneDelegateClassName</key>
                    <string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
                </dict>
            </array>
        </dict>
    </dict>

    <!-- Kakao SDK를 위한 Query Schemes 추가 -->
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>kakaokompassauth</string>
        <string>kakaolink</string>
    </array>

    <!-- 네트워크 보안 설정 -->
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <false/>
        <key>NSExceptionDomains</key>
        <dict>
            <key>13.125.96.48</key>
            <dict>
                <key>NSIncludesSubdomains</key>
                <true/>
                <key>NSExceptionAllowsInsecureHTTPLoads</key>
                <true/>
                <key>NSExceptionRequiresForwardSecrecy</key>
                <false/>
                <key>NSExceptionMinimumTLSVersion</key>
                <string>TLSv1.2</string>
            </dict>
        </dict>
    </dict>

    <!-- 사용자 권한 요청 설명 -->
    <key>NSCameraUsageDescription</key>
    <string>이 앱은 사진 촬영을 위해 카메라 접근이 필요합니다.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>사진을 저장하고 불러오기 위해 사진 라이브러리 접근이 필요합니다.</string>
</dict>
</plist>
